.App {
  text-align: center;
}

.content-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-wrapperR {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.number {
  font-size: 11.5rem;
}

.buttons {
  border: none;
  background-color: initial;
}
